### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### GraalVM ###
src/main/resources/META-INF/native*

### Node (src/test/k6 type-checking only - see package.json) ###
src/test/k6/node_modules/
